*{box-sizing: border-box;/*por mais que eu acrecente valores
    me box continuará com os valores do width e do height
    */

}


.box{
width: 100px;
height: 100px;
background: #ff1493;
padding: 20px;
border: 10px solid #0000ff;/*Tamanho da borda ,
estilo da borda e cor da borda*/



}
/*BOX SIZING*/






